<div class="sticky-top">
    <h1><a href="{{ site.baseurl }}">{{ page.title }}</a></h1>
    <nav class="navbar">
        <div class="container-fluid justify-content-between p-0">
            <li class="nav-item">
                <a class="nav-link" href="#0">Birth</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#10">Teens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#20">20s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#30">30s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#40">40s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#50">50s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#60">60s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#70">70s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#80">80s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#90">90s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#100">100</a>
            </li>
        </div>
    </nav>
</div>
