:root {
    --main-bg-color: #bdcfe1;
    --text-color: #333;
    --link-color: #073b4c;
    --highlight-color: var(--link-color);
    --future-border: #dee2e6;
    --future-bg-color: #eee;
}

*,
:after,
:before {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    color: inherit;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

body {
    font-family: "Red Hat Display", serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;
    @media only screen and (max-width: 768px) {
        font-size: 14px;
    }
    font-style: normal;
    line-height: 1.5;
    color: var(--text-color);
    background-color: inherit;
}

h1 {
    font-weight: 800;
    font-size: 72px;
    margin-bottom: 20px;
    color: var(--link-color);
    @media only screen and (max-width: 768px) {
        font-size: 36px;
    }
}

a {
    color: var(--link-color);
    border-bottom: dotted var(--link-color) 1px;
    border-radius: 0;
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: solid var(--link-color) 1px;
    border-radius: 0;
}

.life-in-weeks {
    margin: 4% 8%;
    .future-date {
        background-color: var(--future-bg-color) !important;
        border-color: var(--future-border) !important;
    }
    @media only screen and (max-width: 768px) {
        margin: 2%;
    }
    .week,
    .birthday {
        height: 2em;
        max-height: 2em;
        padding: 2px 5px;
        margin: 2px 1px;
    }
}

hr {
    margin: 2% 0%;
    border-top: dotted var(--link-color) 1px;
    border-radius: 0;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--link-color);
    --bs-tooltip-color: var(--bs-white);
}
