*,
:after,
:before {
    box-sizing: border-box;
    background-color: #d6e3f0;
    color: inherit;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

body {
    font-family: "Open Sans", system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 1rem;
    color: rgb(22, 23, 26);
    background-color: inherit;
}

h1 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 20px;
    @media only screen and (max-width: 768px) {
        font-size: 36px;
    }
}

h1 a,
h1 a:hover {
    text-decoration: none;
    color: inherit;
}
a,
a:hover {
    color: navy;
}

.life-in-weeks {
    margin: 4% 8%;
    .future-date {
        background-color: #eee !important;
        border-color: #dee2e6 !important;
    }
    @media only screen and (max-width: 768px) {
        margin: 2%;
    }
    .week,
    .birthday {
        height: 2em;
        max-height: 2em;
        padding: 2px 5px;
        margin: 2px;
    }
    .collapsed {
        display: none;
        background-color: inherit;
    }
}
