---
title: My Life in Weeks
layout: fullscreen
---

{% assign data = site.data[page.datafile] %}

{% assign start_date = page.start_date %}
{% assign split_start = start_date | split: "-" %}
{% assign start_year = split_start[0] %}
{% assign start_month = split_start[1] %}
{% assign start_day = split_start[2] %}

{% assign end_year = page.end_year %}
{% assign year_border_class = "border-secondary" %}

<section class="life-in-weeks">
    {% include header_fullscreen.html %}
    <div class="row justify-content-center mt-3">
        <div class="col-12">
        {{content}}
        </div>
    </div>
    {% assign first_event = data | first %}
    {% for event in first_event[1] %}
        {% assign based_class = event.based | replace: " ", "-" | downcase %}
        {% assign doing_class = event.doing | replace: " ", "-" | downcase %}
        {% assign based = event.based %}
        {% assign doing = event.doing %}
        {% assign specific_date = start_date %}
        {% break %}
    {% endfor %}
    {% assign events_in_row = 0 %}
    {% assign empty_weeks_in_row = 0 %}
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between" id="0">
        {% for year in (start_year..end_year) %}
            {% capture this_year = year %}{{ year }}-{{ start_month }}-{{ start_day }}{% endcapture %}
            {% capture next_year = year %}{{ year | plus: 1 }}-{{ start_month }}-{{ start_day }}{% endcapture %}
            {% assign age = year | minus: start_year %}
            {% unless age == 0 %}
                {% assign decade_diff = age | modulo: 10 %}
                {% if  decade_diff == 0 %}
            <a id="{{ age }}"></a>
                {% endif %}
            <button type="button"
                class="btn birthday {{ based_class }} {{ doing_class }} text-nowrap"
                data-date="{{ this_week_date }}"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="{{ year | append: "-" | append: start_month | append: "-" | append: start_day | date: "%b %-d, %Y" }}  – Turned  {{ age }} year{% unless age==1 %}s{% endunless %} old">🎂 {{ age }} in {{ year }}</button>
                {% assign events_in_row = events_in_row | plus: 1 %}
                {% if events_in_row > 1 and empty_weeks_in_row > 3 %}
        </div>
        <div class="col-12 d-flex justify-content-between">
                    {% assign events_in_row = 0 %}
                    {% assign empty_weeks_in_row = 0 %}
                {% endif %}
            {% endunless %}
            {% for week in (0..52) %}
                {% assign week_modifier = 604800 | times: week %}
                {% assign this_week_date = this_year | date: "%s" | plus: week_modifier | date: "%Y-%m-%d" %}
                {% assign end_year_date = this_week_date | date: "%s" | plus: week_modifier | date: "%Y-%m-%d" %}
                {% unless week == 0 %}
            <button type="button"
                class="btn week {{ based_class }} {{ doing_class }} w-100"
                data-date="{{ this_week_date }}"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="{{ specific_date | date: "%b %-d, %Y" }} – {{ doing }}{{ association }}, based in {{ based }}"></button>
                    {% assign  empty_weeks_in_row =  empty_weeks_in_row | plus: 1 %}
                    {% if events_in_row > 0 and empty_weeks_in_row > 10 %}
        </div>
        <div class="col-12 d-flex justify-content-between">
                        {% assign events_in_row = 0 %}
                        {% assign empty_weeks_in_row = 0 %}
                    {% endif %}
                    {% if events_in_row > 1 and empty_weeks_in_row > 2 %}
        </div>
        <div class="col-12 d-flex justify-content-between">
                        {% assign events_in_row = 0 %}
                        {% assign empty_weeks_in_row = 0 %}
                    {% endif %}
                {% endunless %}
                {% for day in (0..6) %}
                    {% assign day_modifier = 86400 | times: day %}
                    {% assign specific_date = this_week_date | date: "%s" | plus: day_modifier | date: "%Y-%m-%d" %}
                    {% if specific_date < next_year %}
                        {% for event in data[specific_date] %}
                            {%unless event.based == null %}{% assign based = event.based %}{% endunless %}
                            {%unless event.doing == null %}{% assign doing = event.doing %}{% endunless %}
                            {% assign based_class = based | replace: " ", "-" | downcase  %}
                            {% assign doing_class = doing | replace: " ", "-" | downcase  %}
                            {%unless event.association == null %}{% assign association = event.association %}
                                {% unless association == "" %}
                                    {% assign association = association | prepend: " at " %}
                                {% endunless %}
                            {% endunless %}
            <button type="button"
                class="btn week {{ based_class }} {{ doing_class }} text-nowrap text-left"
                data-date="{{ this_week_date }}"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="{{ specific_date | date: "%b %-d, %Y" }} - {{ event.description }}{% unless event.description %}{{ doing }}{{ association }}, based in {{ based }}{% endunless %}">{{ event.headline | truncate: 22 }}</button>
                            {% assign events_in_row = events_in_row | plus: 1 %}
                            {% if events_in_row > 0 and empty_weeks_in_row > 5 %}
        </div>
        <div class="col-12 d-flex justify-content-between">
                                {% assign events_in_row = 0 %}
                                {% assign  empty_weeks_in_row = 0 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% assign quarter = week | modulo: 13 %}
                {% if events_in_row > 1 and  empty_weeks_in_row > 5 %}
        </div>
        <div class="col-12 d-flex justify-content-between">
                    {% assign events_in_row = 0 %}
                    {% assign empty_weeks_in_row = 0 %}
                {% endif %}
                {% if week != 0 and quarter == 0 and empty_weeks_in_row >= 8 %}
        </div>
        <div class="col-12 d-flex justify-content-between">
                    {% assign events_in_row = 0 %}
                    {% assign empty_weeks_in_row = 0 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</section>

<style>
.life-in-weeks {
    {% for color in data.colors %}
    .{{ color.class_name }},
    .{{ color.class_name }}:active,
    .{{ color.class_name }}.focus {
        {% if color.element == "border" %}
        border: 2px solid {{ color.color_name }};
        {% endif %}
        {% if color.element == "background-color" %}
        background-color: {{ color.color_name }};
        {% endif %}
     }
    {% endfor %}
}
</style>

<script>
$(document).ready(function () {
    $(function () {
        var today = new Date();
        $( ".week" ).each(function( index ) {
            if (today < Date.parse($( this ).attr('data-date'))) {
                $( this ).addClass('future-date');
                $( this ).attr("data-bs-toggle", null);
            }
        });
        $( ".birthday" ).each(function( index ) {
            if (today < Date.parse($( this ).attr('data-date'))) {
                $( this ).addClass('future-date');
                $( this ).attr("data-bs-toggle", null);
            }
        });
        const tooltipTriggerList = document.querySelectorAll(
            '[data-bs-toggle="tooltip"]',
        );
        const tooltipList = [...tooltipTriggerList].map(
            (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl),
        );
    })
    $(window).on("scroll touchmove", function () {
        $("h1").toggleClass("tiny", $(document).scrollTop() > 0);
        $(".navbar").toggleClass("d-block", $(document).scrollTop() > 200);
    });
});
</script>
