---
title: My Life in Weeks
layout: fullscreen
---

{% assign data = site.data[page.datafile] %}

{% assign start_date = page.start_date %}
{% assign split_start = start_date | split: "-" %}
{% assign start_year = split_start[0] %}
{% assign start_month = split_start[1] %}
{% assign start_day = split_start[2] %}

{% assign end_year = page.end_year %}
{% assign year_border_class = "border-secondary" %}

<section class="life-in-weeks">
    <div class="row justify-content-center">
        <div class="col-12">
        {% include header_fullscreen.html %}
        {{content}}
        </div>
    </div>
    {% assign first_event = data | first %}
    {% for event in first_event[1] %}
        {% assign based_class = event.based | replace: " ", "-" | downcase %}
        {% assign doing_class = event.doing | replace: " ", "-" | downcase %}
        {% break %}
    {% endfor %}
    <div class="row justify-content-center">
        <div class="col-12">
        {% for year in (start_year..end_year) %}
            {% capture this_year = year %}{{ year }}-{{ start_month }}-{{ start_day }}{% endcapture %}
            {% capture next_year = year %}{{ year | plus: 1 }}-{{ start_month }}-{{ start_day }}{% endcapture %}
            {% assign age = year | minus: start_year %}
            <button type="button"
                    class="btn birthday {{ based_class }} {{ doing_class }} float-left text-truncate"
                    data-date="{{ this_week_date }}"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="{{ specific_date | date: "%b %-d, %Y" }} – {{ doing }}{{ association }}, based in {{ based }}">
            {% unless page.suppress_age %}{% if age != 0 %}🎂 {{ age }} in {% endif %}{% endunless %}{{ year }}
            </button>

            {% for week in (0..53) %}
                {% assign week_modifier = 604800 | times: week %}
                {% assign this_week_date = this_year | date: "%s" | plus: week_modifier | date: "%Y-%m-%d" %}
                {% assign end_year_date = this_week_date | date: "%s" | plus: week_modifier | date: "%Y-%m-%d" %}
            <button type="button"
                class="btn week float-left text-center text-truncate {{ based_class }} {{ doing_class }}"
                data-date="{{ this_week_date }}"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="{{ specific_date | date: "%b %-d, %Y" }} – {{ doing }}{{ association }}, based in {{ based }}">
                {% for day in (0..6) %}
                    {% assign day_modifier = 86400 | times: day %}
                    {% assign specific_date = this_week_date | date: "%s" | plus: day_modifier | date: "%Y-%m-%d" %}
                    {% if specific_date < next_year %}
                        {% for event in data[specific_date] %}
                            {{ event.name }}
                            {%unless event.based == null %}{% assign based = event.based %}{% endunless %}
                            {%unless event.doing == null %}{% assign doing = event.doing %}{% endunless %}
                            {% assign based_class = based | replace: " ", "-" | downcase  %}
                            {% assign doing_class = doing | replace: " ", "-" | downcase  %}
                            {%unless event.association == null %}{% assign association = event.association %}
                                {% unless association == "" %}
                                    {% assign association = association | prepend: " at " %}{% endunless %}
                                {% endunless %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </button>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</section>

<style>
.life-in-weeks {
    {% for color in data.colors %}
    .{{ color.class_name }},
    .{{ color.class_name }}:active,
    .{{ color.class_name }}.focus {
        {% if color.element == "border" %}
        border: 2px solid {{ color.color_name }};
        {% endif %}
        {% if color.element == "background-color" %}
        background-color: {{ color.color_name }};
        {% endif %}
     }
    {% endfor %}
}
</style>

<script>
$(document).ready(function () {
    $(function () {
        var today = new Date();
        $( ".week" ).each(function( index ) {
            if (today < Date.parse($( this ).attr('data-date'))) {
                $( this ).addClass('future-date');
                $( this ).attr("data-bs-toggle", null);
            }
        });
        $( ".birthday" ).each(function( index ) {
            if (today < Date.parse($( this ).attr('data-date'))) {
                $( this ).addClass('future-date');
                $( this ).attr("data-bs-toggle", null);
            }
        });
        const tooltipTriggerList = document.querySelectorAll(
            '[data-bs-toggle="tooltip"]',
        );
        const tooltipList = [...tooltipTriggerList].map(
            (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl),
        );
    })
});
</script>
